NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Components of a National Park Address -->
        <xsd:element name="Number" type="xsd:int"/>   
        <xsd:element name="Street" type="xsd:string"/>
        <xsd:element name="City" type="xsd:string"/>
        <xsd:element name="State" type="xsd:string"/>
        <xsd:element name="Zip" type="xsd:string"/>

<!-- Required for each National Park -->
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Phone" type="xsd:string"/>


<!-- Sequence for an Address -->
<xsd:element name="Address">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Street"/>
			<xsd:element ref="City"/>
			<xsd:element ref="State"/>
			<xsd:element ref="Zip"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
</xsd:element>


<!-- Sequence for the Elements/Attributes for Each National Park -->

<xsd:element name="NationalPark">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="Name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="Phone" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element ref="Address" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
</xsd:element> 


<!-- Multiple national parks allowed -->

<xsd:element name="NationalParks">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="NationalPark" minOccurs="1" maxOccurs="unbounded"/>	

		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>
